<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.choubapp.muslimapp">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutUs"/>
        <activity android:name=".Widgets" />
        <activity android:name=".Wallpapers" />
        <activity android:name=".Misbaha" />
        <activity android:name=".ZakatCalculator" />
        <activity android:name=".QiblaFinder" />
        <activity android:name=".FadlAdkar" />
        <activity android:name=".SalatSettings" />
        <activity android:name=".AdkarMassaa" />
        <activity android:name=".AdkarSabah" />
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>