<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.choubapp.muslimapp">

    <application
        android:name=".NotifsChannels"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppThemee">
        <activity android:name=".SalatSettings"/>
        <activity android:name=".GoldPrice" />
        <activity android:name=".ReportProblem" />
        <activity android:name=".PrivacyPolicy" />
        <activity android:name=".AboutUs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Widgets" />
        <activity android:name=".Wallpapers" />
        <activity android:name=".Misbaha" />
        <activity android:name=".ZakatCalculator" />
        <activity
            android:name=".QiblaFinder"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".FadlAdkar" />
        <activity android:name=".AdkarMassaa" />
        <activity android:name=".AdkarSabah" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <action android:name="xandroid.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/widget_info" />
        </receiver>
        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_GPS" />

</manifest>